
<%- include('./partials/head', {titulo: titulo?titulo:'home page'}) %>

<%- include('./partials/navbts') %>

<hr>
<div class="container">
    <h1>HOME -> desde index.ejs</h1>
</div>

<%- include('./partials/foot') %>


